/* Основные настройки */
body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Центрирование основного контента */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

/* Заголовок */
.main-header {
    background-color: #0073e6;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.main-header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

/* Контент */
.content {
    padding: 0 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: stretch; /* Растягиваем карточки по высоте */
}

/* Карточки */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    padding: 20px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.65);
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    color: #666;
    text-align: center;
    padding: 0 25px;
}

/* Подсказка тестовой функции */
.test-feature-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.test-feature-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 30px;
    right: -20px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 10;
}

/* Футер */
.main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Зона загрузки файлов */
.file-drop-zone {
    /* max-width: 500px; */
    width: 500px;
    height: 100px;
    padding: 20px;
    border: 2px dashed #0073e6;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-drop-zone.dragover {
    background-color: #e6f7ff;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Кнопки */
button {
    padding: 10px 20px;
    background: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s;
}

button:hover {
    background: #005bb5;
}

.remove-file-button {
    border: none;
    border-radius: 50%;
    width: 24px;
    line-height: 24px;
    margin-right: 10px;
    padding: 0px;
    font-size: 12px;
}

.header-button {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 15px 20px;
    background-color: #fff;
    color: #0056b3;
    font-size: 20px;
}

.header-button:hover {
    background-color: #0056b3;
    color: #fff;
}

.side-panel button {
    padding: 15px 20px;
    font-size: 20px;
}

.download-button {
    padding: 15px 145px;
    font-size: 20px;
}

.file-upload-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.side-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}