<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format Converter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="main-header">
        <h1>Format Converter</h1>
        <p>Конвертируйте ваши файлы легко и быстро</p>
    </header>

    <main class="content">
        <div class="card-container">
            <div class="card-wrapper">
                <a href="/convert-docx-to-pdf" class="card">
                    <div class="card-content">
                        <h2>DOCX в PDF</h2>
                        <p>Загрузите файл формата DOCX и сконвертируйте его в PDF-документ</p>
                    </div>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="/convert-pdf-to-docx" class="card">
                    <div class="card-content">
                        <h2>PDF в DOCX</h2>
                        <p>Загрузите файл формата PDF и сконвертируйте его в DOCX-документ</p>
                        <div class="test-feature-icon" data-tooltip="Функция является тестовой и может работать некорректно!">!</div>
                    </div>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="/convert-ppt-to-pdf" class="card">
                    <div class="card-content">
                        <h2>PPT в PDF</h2>
                        <p>Загрузите файл формата PPT и сконвертируйте его в PDF-документ</p>
                        <div class="test-feature-icon" data-tooltip="Функция является тестовой и может работать некорректно!">!</div>
                    </div>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="/convert-jpg-to-png" class="card">
                    <div class="card-content">
                        <h2>JPG в PNG</h2>
                        <p>Загрузите изображение формата JPG и сконвертируйте его в PNG</p>
                    </div>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="/convert-png-to-jpg" class="card">
                    <div class="card-content">
                        <h2>PNG в JPG</h2>
                        <p>Загрузите изображение формата PNG и сконвертируйте его в JPG</p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer class="main-footer">
        <p>&copy; Format Converter 2025 – Инструмент для работы с файлами</p>
    </footer>
</body>
</html>
